.line-button {
	-fx-skin: "com.lvpei.pediperi.isopter.linebutton.linebuttonskin.LineButtonSkin";
	-fx-max-height: 170px;
	-fx-max-width: 3 px;
	-fx-background-color: black; 
}

.line-button {
	-fx-background-color: blue;
}