.line-button {
	-fx-skin: "com.lvpei.pediperi.isopter.linebutton.linebuttonskin.LineButtonSkin";
	-fx-max-width: 2px;
	-fx-max-height: 200px;
	-fx-background-color: rgba(0, 0, 0, 0.25);
}

.line-button-blue {
	-fx-skin: "com.lvpei.pediperi.isopter.linebutton.linebuttonskin.LineButtonSkin";
	-fx-max-width: 2px;
	-fx-max-height: 200px;
	-fx-background-color: rgba(0, 0, 255, 0.4);
}

.line-button:hover {
	-fx-background-color: rgba(0, 0, 255, 0.5);
}